<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnerAcademy</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.rakshith.academy.login.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.rakshith.academy.login.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectServlet</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>com.rakshith.academy.subject.SubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/SubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassServlet</display-name>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.rakshith.academy.classroom.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/ClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.rakshith.academy.student.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherServlet</display-name>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.rakshith.academy.teacher.TeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapServlet</display-name>
    <servlet-name>MapServlet</servlet-name>
    <servlet-class>com.rakshith.academy.classroom.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapServlet</servlet-name>
    <url-pattern>/MapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassRoomServlet</display-name>
    <servlet-name>ClassRoomServlet</servlet-name>
    <servlet-class>com.rakshith.academy.classroom.ClassRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassRoomServlet</servlet-name>
    <url-pattern>/ClassRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassDetails</display-name>
    <servlet-name>ClassDetails</servlet-name>
    <servlet-class>com.rakshith.academy.classroom.ClassDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDetails</servlet-name>
    <url-pattern>/ClassDetails</url-pattern>
  </servlet-mapping>
</web-app>